input[type="text"] {
  width: 70%;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin: 0 auto;
  display: block;
  font-size: 1rem;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  background-color: white;
  background-image: url('../../assets/search-line.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.search-bar {
    margin-top: 50px;



}

