@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

input[type="text"] {
  background-image: url("../../assets/search-line.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
}

.search-bar {
  margin-top: 50px;
}

.loading {
  font-family: "Monoton", cursive;
  font-size: 6vw;
  text-align: center;
  animation: flash;
  -webkit-animation: flash;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
