@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


* {
  font-family: 'Inter', monospace;
  box-sizing: border-box;
}

body {
  background-color: #f6f8fa;
}

.container {
  display: grid;
  grid-gap: 2rem;
  padding: 1rem 2.5rem; 
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  animation: fadeInUpBig;
  animation-duration: 2s;
  word-wrap: break-word; 
  margin: 0 auto;
}

.card {
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.card-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  top: 55px;
  left: 0px;
  border: 5px solid white;
}

.card-body {
  text-align: center;
  margin-top: 70px;
  line-height: 1;
  text-decoration: none;
  word-wrap: break-word;
  padding: 0 .75rem;
}

a {
  text-decoration: none;
}

/* get random color for card header */
.main-container:nth-of-type(odd) .card-img {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.main-container:nth-of-type(even) .card-img {
  background-image: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
}

.main-container:nth-of-type(3n) .card-img {
  background-image: linear-gradient(120deg, #fbc2eb 0%, #a6c1ee 100%);
}


@media screen and (min-width: 520px) {
  .container {
    margin: 1rem 2.5rem; 
  }
}

@media screen and (min-width: 1200px) {
  .container {
     grid-gap: 1.5rem;
    padding: 1rem 2rem; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    animation: fadeInUpBig;
    animation-duration: 2s;
    margin: 1rem 2rem;
  }
}

@media screen and (min-width: 1400px) {
  .container {
   max-width: 1400px;
   margin: 0 auto;
  }
} 
 
