@import url("https://use.typekit.net/kiy0zms.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

.profile {
    display: grid;
}

.profile-section {
  /* background-color: #1a1e22; */
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(120deg, #fbc2eb 0%, #a6c1ee 100%);
}

.profile-card-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  border: double 4px transparent;
  border-radius: 50%;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, #8fd3f4, #84fab0);
  background-origin: border-box;
  background-clip: content-box, border-box;
  width: 150px;
  height: 150px;
  margin-bottom: 1.5rem;
  vertical-align: middle;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-bottom: 3.5rem;
}

.profile-detail-card {
  line-height: 1.6;
  text-align: center;
  animation: fadeInUpBig;
  animation-duration: 2s;
  margin-top: 1.5rem;
  padding: 1rem 1.5rem; 
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.user-info {
  color: white;
  font-size: 1rem;
  overflow: hidden;
  padding: 0.5rem;
  text-align: center;
}

.user-name {
  font-size: 2.5rem;
  text-align: center;
  color: white;
  margin: 1.5rem;
  letter-spacing: 2px;
}

.user-email {
  text-align: center;
  color: white;
  margin: 0.5rem ;
}

.email-tile,
.address-tile,
.phone-tile {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 250px;
  width: 100%;
  border-radius: 7px;
  overflow: hidden;
  transition: all 0.2s linear;
  background: white;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  font-size: 1em;
  word-wrap: break-word;
  padding-top: 1rem;
}

.icon {
  font-size: 35px;
  color: #333;
}

.ri-cake-2-line,
.ri-map-pin-line {
  margin: 0 1rem;
}

@media screen and (min-width: 720px) {
  .profile-detail-card {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
   
  }
}
