* {

    box-sizing: border-box;
    /* max-width: 1200px; */
    /* margin: 0 auto; */
}

main.container {
  /* padding: 14px 16px; */
  /*margin: 1rem;
  */display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  animation: fadeInUpBig;
  animation-duration: 2s;
  margin: 0 0 2rem 0;
  padding: 1.5rem 1.5rem;
 
}

.card-deck {
  margin-top: 55px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  transition: all .2s linear;
}

.card-deck:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
  transform: translate3D(0, -2px, 0);
}
.card {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.card-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    top: 55px;
    left: 0px; 
}

.card-body {
    text-align: center;
    margin-top: 70px;
    line-height: 1.6;
}


.card-img:nth-child(odd) {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.card-img:nth-child(even) {
  background-image: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
}

.card-img:nth-child(4n) img  {
  background-image: linear-gradient(120deg, #ffc3a0 0%, #ffafbd 100%);
}


@media screen and (min-width: 600px) {
  main.container {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  main.container {
    flex: 1 1 calc(33% - 2rem);
  }
}
